.header{
	background-color: violet;
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
	height: 250px;
	width: 100%;
	z-index:-1;
	background-image: url(img/header.jpg);
}

.menubar ul{
	background-color: violet;
	width: 98.8%;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: absolute;
	z-index:9999;
	margin-top: -60px;
}
.menubar li{
	float: left;
}
.menubar li a{
	display: block;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Sniglet;;
	color: white;
	
}
.menubar li a:hover{
	background-color: #6495ED;
}
.menubar li a:visited{
	color: white;
	z-index:9999;
}


.yaela{
	background-color: white;
	opacity: 0.9;
	width: 100%;
	height: auto;
	float: left;
	background-image: url(img/toy2.jpg);
}
.yaela h2{
	margin-left: 65px;
	font-family: Sniglet;
}
.yaela p{
	margin-left: 65px;
	font-family: Roboto Condensed;
}
.profil{
	width: 23%;
	height: auto;

}
.profil img{
	margin-left: 65px;
	box-shadow: 10px 10px;
}
.bio{
	width: 60%;
	height: auto;
}


.footer{
	background-color: gray;
	opacity: 0.7;
	width: 100%;
	height: 70px;
	bottom: 0px;
	margin-bottom: 1px;
	padding: 0;
	overflow: hidden;
	margin-bottom: -250px;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: Sniglet;
}
p {
  outline-style: solid;
  outline-width: 2px;
  outline-color: red;
}