.header{
	background-color: green;
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
	height: 250px;
	width: 100%;
	z-index:-1;
	background-image: url(img/header.jpg);
}

.menubar ul{
	background-color: violet;
	width: 98.8%;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: absolute;
	z-index:9999;
	margin-top: -60px;
}
.menubar li{
	float: left;
}
.menubar li a{
	display: block;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Sniglet;;
	color: white;
	
}
.menubar li a:hover{
	background-color: #6495ED;
}
.menubar li a:visited{
	color: white;
	z-index:9999;
}


.yaela{
	background-color: white;
	opacity: 0.9;
	width: 100%;
	height: 350px;
	float: left;
	background-image: url(img/toy2.jpg);
	
}
.yaela h2{
	margin-left: 65px;
	font-family: Sniglet;
}
.yaela p{
	margin-left: 65px;
	font-family: Roboto Condensed;
}

.vie{
	height: 10px; 
	width: 43%; 
	background-color: #6495ED;  
	margin-left: 65px;
	float: left;
}
.vie2{
	height: 10px; 
	width: 50%; 
	background-color: #5F9EA0;  
	margin-left: 605px;
}

.form {
    width:1400px;
    margin-left: 65px;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    width: 600px;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}
.footer{
	background-color: gray;
	opacity: 0.7;
	width: 100%;
	height: 70px;
	bottom: 0px;
	margin-bottom: 1px;
	padding: 0;
	overflow: hidden;
	margin-bottom: -250px;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: Sniglet;
}